{% extends "base.html" %}

{% block title %}Battle{% endblock %}

{% block content %}
  <div id="battleInfo">
    {# Information that will always be visible, and need only be updated #}
    <ul>
      <li>
        <div id="player">
          <p><b>You</b> - <b id="playerName"></b></p>
          <b>HP:</b><i id="playerHp"></i><br/>
          <b>Last Move:</b><i id="playerLastMove"></i><br/>
        </div>
      </li>
      <li>
        <div id="general">
          <p><b>General</b></p>
          <p><b>Turn No:</b><i id="turnNumber"></i></p>
          </div>
      </li>
      <li>
        <div id="opponent">
          <p><b>Opponent</b> - <b id="opponentName"></b></p>
          <b>HP:</b><i id="opponentHp"></i><br/>
          <b>Last Move:</b><i id="opponentLastMove"></i><br/>
          </div>
      </li>
    </ul>
  </div>
  <div id="userInput">
    {# Blocks that will be shown seperately at each stage of the battle #}
    <div id="preBattle">
      <button type="button" id="startBattle">Start Battle</button>
    </div>
    <div hidden id="joining">
      <b>Looking for opponent...</b>
    </div>
    <div hidden id="moveChoice">
      <ul>
        <li>
          <button type="button" class="move" choice="R">Rock</button>
        </li>
        <li>
          <button type="button" class="move" choice="P">Paper</button>
        </li>
        <li>
          <button type="button" class="move" choice="S">Scissors</button>
        </li>
      </ul>
    </div>
    <div hidden id="waiting">
      <b>Waiting for other player's choice...</b>
    </div>
    <div hidden id="calculating">
      <b>Calculating results...</b>
    </div>
    <div hidden id="finished">
      <b>FINISHED!</b>
    </div>
    <div hidden id="finished">
      <b>An error has occurred :(</b>
    </div>
  </div>

{% endblock %}