{% extends "base.html" %}

{% block title %}User Rankings{% endblock %}

{% block content %}

  {% if ranked_users %}
    <b>Rankings:</b>
    <ul>
      {% for user in ranked_users %}
        <li><b> 
          <script type="text/javascript">
          document.write({{ page_obj.paginator.per_page }} * 
            ({{ page_obj.number }} - 1) + {{ forloop.counter }});
          </script> 
        </b> 
          <a href="{% url 'userDetail' user.username %}">{{ user.username }}</a>: 
          - Score: {{ user.profile.score }} </li>
      {% endfor %}
    </ul>
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
  {% else %}
    <p>All the users are dead</p>
  {% endif %}

{% endblock %}